@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 1400px;
  position: relative;
}
/*==========PAGE INDEX==============*/
.menu {
  width: 1400px;
  height: 80px;
  display: grid;
  position: relative;
  grid-template-columns: 0.25fr 1fr;
  background-color: black;
}
.img_logo {
  margin: 27px 0px 26.1px 231px;
}

.menu_links {
  display: flex;
  align-content: center;
  align-items: center;
  margin-left: 122.4px;
  word-spacing: 30px;
}

.menu_links a {
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  text-decoration: none;
}

.not-found {
  width: 600px;
  height: 200px;
  margin: 19vh auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
}

#status {
  font-size: 42px;
  font-weight: 800;
}

#warning {
  font-size: 22px;
  font-weight: 200;
}

#feedback {
  font-size: 18px;
  font-weight: 600;
}
.rectangle {
  width: 940px;
  height: 366px;
  background-color: #fbdfdb;
  border-radius: 30px;
  margin: 30px 230px 30px 230px;
  position: relative;
}

.rectangle_img_chef {
  width: 216px;
  height: 300px;
  position: absolute;
  margin: 66px 100px 0px 624px;
}

.rectangle_title {
  width: 305px;
  height: 38px;
  position: absolute;
  margin: 117px 575px 211px 60px;
  font-weight: bold;
  font-size: 32px;
  color: #111111;
  line-height: 38px;
}

.rectangle_info {
  width: 316px;
  height: 84px;
  position: absolute;
  margin: 165px 564px 117px 60px;
  color: #000000;
  opacity: 0.7;
  font-size: 18px;
  line-height: 28px;
}

/*==============CARDS=============*/

.cards_recipes {
  width: max-content;
  display: grid;
  grid-template-columns: 172px 1fr 172px 1fr;
  position: inherit;
  margin: 0px 230px 30px;
  gap: 20px;
}

.cards_recipes_home {
  width: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: inherit;
  margin: 0px 230px 30px;
  gap: 20px;
}

.cards a {
  text-decoration: none;
}

.link-view:hover {
  box-shadow: 30px 30px 30px #7777;
  border-radius: 15px;
  height: 101%;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.img_recipe,
.card_link1 {
  width: 172px;
  height: 80px;
  margin-right: 0;
}

.img_recipe img {
  width: 172px;
  height: 80px;
  border-radius: 15px;
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.img_recipe_home img {
  width: 300px;
  height: 142px;
  border-radius: 15px;
  display: block;
  margin: 0px auto;
  margin-bottom: 15px;
  max-width: 100%;
}

.title_recipe p {
  width: 250px;
  height: 21px;
  text-align: left;
  font-size: 18px;
  color: #111111;
  line-height: 21px;
}

.author_recipe p {
  width: auto;
  height: auto;
  margin: 5px 0px 10px 0px;
  color: #777777;
  font-size: 14px;
  line-height: 16px;
}

.container_cards_chefs {
  position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px 230px;
    gap: 61px;
}

.cards_chefs img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}
.chef {
  display: grid;
    grid-template-columns: 1fr 1fr;
}

.chef_info {
  margin-left: 20px;
  width: 130px;
}
.chef_info p {
  margin-bottom: 10px;
  margin-top: 5px;
}

.chef_info a {
  text-decoration: none;
}
/*===============CARD==============*/

.card_recipe {
  position: relative;
  display: grid;
  grid-template-rows: repeat(10, 0.1fr);
  margin-top: 55px;
}

.img_recipe_id {
  width: 940px;
  height: 230px;
  position: relative;
}

.img_recipe_id img {
  width: 940px;
  height: 230px;
  margin: 0px 0px 50px;
  border-radius: 15px;
}

.title_recipe_id,
.author_recipe_id,
.grid_recipe_id,
.name_chef_id {
  display: flex;
  width: 940px;
}
.title_recipe_id p {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  font-weight: 800;
  color: #111111;
}

.name_chef_id p {
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  font-weight: 800;
  color: #111111;
}

.author_recipe_id p,
.total_recipes_chef_id p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 41px;
  font-size: 20px;
  color: #777777;
}

.total_recipes_chef_id p {
  font-size: 20px;
  text-align: center;
  color: #777777;
  margin-top: 46px;
}

.grid_recipe_id {
  display: -webkit-inline-box;
  -webkit-box-align: baseline;
}

.subtitles_recipe_id,
.subtitles_chef_id {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

h4 {
  width: 61px;
  height: 14px;
  margin: 0 965px 20px 8px;
  font-size: 12px;
  color: #999999;
  cursor: pointer;
}

.ingredients,
.preparation,
.information {
  width: 940px;
  margin-bottom: 41px;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  text-align: justify;
}
.ingredients_recipe_id p {
  width: 940px;
  height: 196px;
  margin: 0 230px 39px;
  font-size: 18px;
  color: #444444;
}

/*================HIDE INFOS==============*/

.ingredients.hidden,
.preparation.hidden,
.information.hidden {
  display: none;
}

/*================FOOTER================*/

.footer {
  width: 1400px;
  height: 62px;
  background-color: #eeeeee;
  position: absolute;
  bottom: 0;
}

.footer p {
  width: 300px;
  height: 16px;
  position: absolute;
  margin: 23px 566px 23px 567px;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  text-align: center;
}

/*=============PAGE ABOUT=============*/

.about_foodfy_title {
  width: 164px;
  height: 28px;
  margin: 50px 0 20px 230px;
  color: #111111;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}

.about_foodfy_info {
  width: 940px;
  height: 280px;
  margin: 0 230px 0 230px;
  color: #444444;
  font-size: 18px;
  line-height: 28px;
}

.how_all_begining_title {
  width: 203px;
  height: 24px;
  margin: 30px 0 20px 230px;
  color: #111111;
  font-size: 20px;
  line-height: 24px;
}

.how_all_begining_info {
  width: 940px;
  height: 280px;
  margin: 0 230px 0 230px;
  color: #444444;
  font-size: 18px;
  line-height: 28px;
}

.our_recipe_title {
  width: 145px;
  height: 24px;
  margin: 30px 0 20px 230px;
  font-size: 20px;
  color: #111111;
  line-height: 24px;
}

.our_recipe_info {
  width: 940px;
  height: 112px;
  margin: 0 230px 50px 230px;
  color: #444444;
  font-size: 18px;
  line-height: 28px;
}

/*=============ADMIN=============*/

.comum_div {
  width: 960px;
  margin: 55px 0px 0px 230px;
}

#button-create {
  text-decoration: none;
  width: 100px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
  color: #111111;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#button-create:hover {
  box-shadow: 1px 2px 3px 4px #444444;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

form {
  width: 940px;
  overflow: hidden;
}

#sav,
#edt {
  background: #6558c3;
  border-radius: 4px;
  padding: 9px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-align: right;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

#del {
  width: 92px;
  background: #dc4747;
  border-radius: 4px;
  padding: 9px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  text-align: center;
}
.field label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #111111;
  margin: 30px 0px 10px;
}

.field input,
.ingredients input {
  width: 938px;
  height: 49px;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 16px;
  color: #111111;
  outline: none;
}

.field input::placeholder {
  font-size: 16px;
  color: #111111;
}

.field textarea {
  width: 938px;
  height: clamp(157px, 257px, 357px);
  border: 1px solid #dddddd;
  border-radius: 4px;
  resize: vertical;
  background: #ffffff;
  font-size: 16px;
  line-height: 28px;
  color: #111111;
  outline: none;
  margin-bottom: 30px;
}

.add-ingredient,
.add-preparation,
.link-view,
.card_chef .chef_info a {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #6558c3;
  text-align: right;
  text-decoration: none;
  background-color: white;
  outline: none;
  cursor: pointer;
}

#admin-recipe-title,
#admin-chef-title {
  width: 298px;
  height: 70px;
  position: relative;
  margin: 30px 972px 30px 230px;
  font-weight: bold;
  font-size: 24px;
  color: #111111;
  line-height: 28px;
}

.adm-recipe,
.adm-chef {
  width: 940px;
  height: 37px;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: bold;
  color: #111111;
}
.adm-recipe label {
  display: -webkit-inline-box;
  -webkit-box-align: baseline;
  font-size: 24px;
  font-weight: bold;
  color: #111111;
}
.card_chefs {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 320px);

}
.card_chef {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 320px);

}

.img_chef_id {
  text-align: center;
}

.img_chef_id img {
  width: 200px;
  height: 200px;
  margin: 51px 0px 30px 0px;
  border-radius: 50%;
  object-fit: cover;
}

.edt {
  text-align: end;
}

select {
  width: 350px;
  outline: none;
  color: #111111;
  font-size: 20px;
  line-height:21px
}