{% block content %}

<div class= "item" id="ingredients"> 
    <div>Ingredientes</div> 
    <div class="ingredient">
 <input type="text" name="ingredients[]" value="" placeholder="Ingredient" /> </div> 
 </div> 
 <button type="button" class="add-ingredient">Add Ingredient</button>

<script src="/scripts.js"></script>
{% endblock content %}

