{% extends "layout.njk" %}

{% block content %}

  <div id="admin-chef-title">
    <p>Gerenciar Chefs</p>
    <a id="button-create" href="/admin/chefs/chefs/create">Cadastrar</a>
  </div>
  <div class="container_cards_chefs">
    {% for chef in chefs %}
      <div class="cards_chefs">
        <div class="chef">
          <img src="{{chef.avatar_url}}" alt="">
          <div class="chef_info">
            <p>{{chef.name}}</p>
            <a href="/admin/chefs/chefs/{{chef.id}}" class="link-view">Visualizar</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<script src="/scripts.js"></script>
{% endblock %}